aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.9.3
anndata==0.9.2
asgiref @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_cchykh5sgr/croots/recipe/asgiref_1661287542702/work
astor==0.8.1
async-timeout==4.0.2
attrs==24.2.0
autograd==1.7.0
autograd-gamma==0.5.0
backports.zoneinfo @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_29zz4uumbw/croots/recipe/backports.zoneinfo_1661287541232/work
banal==1.0.6
Boruta==0.3
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==7.1.2
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
datasets==2.9.0
decoupler==1.6.0
dill==0.3.6
Django @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_eeor5o9jj8/croots/recipe/django_1661292534510/work
docrep==0.3.2
ecos==2.0.14
eli5==0.13.0
filelock==3.9.0
fonttools==4.54.1
formulaic==1.0.2
frozenlist==1.3.3
fsspec==2023.1.0
fuzzy-c-means==1.6.3
graphlib_backport==1.1.0
graphviz==0.20.3
greenlet==2.0.2
h5py==3.11.0
huggingface-hub==0.12.0
idna==3.10
imbalanced-learn==0.12.4
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflect==7.4.0
interface-meta==1.3.0
Jinja2==3.1.4
joblib==1.2.0
kiwisolver==1.4.7
lifelines==0.27.8
lightgbm==4.5.0
llvmlite==0.41.1
Mako==1.2.4
MarkupSafe==2.1.5
matplotlib==3.7.5
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
more-itertools==10.5.0
multidict==6.0.4
multiprocess==0.70.14
natsort==8.4.0
numexpr==2.8.6
numpy @ file:///C:/b/abs_54abayvc9j/croot/numpy_and_numpy_base_1682520598361/work
omnipath==1.0.8
osqp==0.6.7.post3
packaging==24.2
pandas==2.0.3
patsy==1.0.1
pillow==10.4.0
prettytable==3.11.0
pyarrow==11.0.0
pycparser==2.22
pydantic==1.10.19
pyecharts==2.0.7
pynndescent==0.5.13
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
qdldl==0.1.7.post4
requests==2.32.3
responses==0.18.0
rpy2==3.5.1
scikit-learn @ file:///C:/b/abs_daon7wm2p4/croot/scikit-learn_1694788586973/work
scikit-survival==0.22.2
scipy==1.10.1
seaborn==0.13.2
semantic-version==2.10.0
setuptools-rust==1.10.2
simplejson==3.19.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
SQLAlchemy==1.4.46
sqlparse @ file:///C:/b/abs_88361ub_qu/croot/sqlparse_1690904577514/work
statsmodels==0.14.1
tabulate==0.8.10
threadpoolctl==3.1.0
tqdm==4.67.0
typeguard==4.4.0
typer==0.3.2
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
umap-learn==0.5.7
urllib3==2.2.3
wcwidth==0.2.13
wrapt==1.16.0
xgboost==2.1.2
xlrd==2.0.1
yarl==1.8.2
zipp==3.20.2
